@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 0.9rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 5rem;
    width: 550px;
}

.container > header{
    border: 1px solid white;
    border-radius: 7px;
}

.container > header >p{
    columns: blueviolet;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.container >header >h1{
    font-size: 2rem;
}

.container >header >img{
    width: 100%;
    margin: 0.5rem 0;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

section{
    margin: 0.8rem 0;
}
section h2{
    font-size: 1.2rem;
    ;
}

section p{
    color:#391515;
    width: 100%;
}

.details{
    background-color: lightgray;
    border-radius: 0.8rem;
    padding: 1rem;
}

.details h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.details >ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form h2{
    font-size: 1.5rem;

}

form .two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form .two > .one{
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}


.one >label{
    font-size: 0.8rem;
    color: black;
}

.one >input{
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: 1px solid black;
}

.tac{
    margin: 1rem 0;
}

.tac >a{
    color: blueviolet;
}

form button:hover{
    background-color: blue;
    cursor:pointer;
}